body {
	padding: 0;
	margin: 0;
	width: 100%;

}

header {
	width: 100%;
	position: fixed;
	z-index: 1;
}

.header {
	width: 100%;
	height: 90px;
	box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.15);
	/* border: 1px solid black; */
	background-color: #ffffff;
}

.categories {
	width: 531px;
	font-family: 'Roboto',sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.05px;
	word-spacing: 10px;
	margin: auto;
	margin-right: 10%;
	position: relative;
}

.header a, .navigation a{
	font-family: 'Roboto',sans-serif;
	font-size: 14px;
	text-decoration: none;
	color: #777777;
}

a:hover {
	color: #000000;
	cursor: pointer;
}

a.active {
	color: #000000;
}


.img{
	vertical-align: middle;
	width: 20px;
	height: 1px;
	background-color: #06060a;
}

.logo{
	height: 35px;
	width: 131px;
	position: relative;
	left: 10%;
	top: 28px;
}


.navigation {
	width: 1140px;
	margin: auto;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 29px;
	color: #777777;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.05px;
	padding: 15px 0 14px 0;
	text-align: center;
}

.navigation .buttons {
	width: 728px;
	margin: auto;
}

.navigation img {
	vertical-align: middle;
	margin: 0 5px;
}

.photos{
	display: flex;
	width: 1140px;
	margin: auto;
    justify-content: center;
}

.column img{
	margin-bottom: 35px;
	margin-right: 30px;

}

.photos .column:last-child img{
	margin: 0 0 35px 0;
}

.column{
	display: flex;
	flex-direction: column;
	position: relative;
}

.content {
	padding-top: 33px;
	padding-bottom: 73px;
	width: 100%;
}
.load_content {
	width: 125px;
	text-align: center;
	padding: 8px 0 7px 0;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	display: block;
	margin: 0 auto;
	background-color: #959595;
	border-radius: 3px;
	left: 50%;
	outline: none;
}

.load_content a {
	color: #fff;
	text-decoration: none;
}

.content {
	margin: 0 auto;
	width: 100%;
}

/* .content a{
	color: #fff;
	text-decoration: none;
} */

.wrapper * {
	margin: 0;
	padding: 0;
	/* border: 1px solid black; */
}

.wrapper {
	padding-top: 90px;
}

.wrapper .slider {
	height: 650px;
	position: relative;
	width: 100%;
    overflow: hidden;
}

.wrapper .slider .prev, .wrapper .slider .next, .wrapper .slider .selector {
	position: absolute;
}

.wrapper .slider .slide_wrapper {
	position: relative;
    width: calc(100% * 4);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

.wrapper .slider .selector {
	width: 77px;
	position: absolute;
	margin: auto;
	/* height: 14px; */
	left: 0;
	right: 0;
	bottom: 56px;
}

.wrapper .slider .selector .circle {
	width: 14px;
	height: 14px;
	background-color: #fff;
	float: left;
	border-radius: 7px;
	box-sizing: border-box;
	margin-left: 16px;
}

.circle.active {
	border: 4px solid black;
}

.wrapper .slider .prev {
	top: 310px;
	left: 116px;
	width: 41px;
	height: 41px;
	border: 1px solid #fff;
	border-radius: 21px;
	cursor: pointer;
}

.wrapper .slider .prev .arrow img{
	display: block;
}

.wrapper .slider .prev .arrow img:last-child, .wrapper .slider .next .arrow img:last-child{
	margin-top: -1px;
}

.wrapper .slider .prev .arrow {
	margin: 8px 0 0 10px;
}

.wrapper .slider .next .arrow {
	margin: 8px 0 0 15px;
}


.wrapper .slider .next {
	top: 310px;
	right: 116px;
	width: 42px;
	height: 42px;
	background-color: #000;
	border-radius: 21px;
	cursor: pointer;
}

.wrapper .slider .next .arrow img{
	display: block;
}

.wrapper .slider .selector .circle:first-child {
	margin: 0;
}

.wrapper .slider .slide .slider_content {
	padding-top: 263px;
}

.wrapper .slider .slide .slider_content h1 {
	color: #ffffff;
	font-family: 'Roboto';
	font-size: 48px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 4.8px;
	text-align: center;
	width: 700px;
	margin: 0 auto;
	background-color: #000;
}

.wrapper .slider .slide .slider_content p {
	width: 470px;
	color: #000000;
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 7.2px;
	margin: 38px auto 0 auto;
}

.wrapper .slider .slide {
	background-image: url("../image/shutterstock_353200073.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	background-color: rgb(210, 210, 210);
	height: 650px;
	width: calc(100%/4);
    float: left;
}

.wrapper .slider .slide.s2, .wrapper .slider .slide.s3 {
	display: none;
}

.footer *, .content .load_content, .content {
	/* border: 1px solid black; */
}

.footer {
	padding: 64px 0 47px 0;
	box-shadow: 0 -3px 5px 1px rgba(163, 163, 163, 0.1);
	z-index: 1;
	/* box-sizing: content-box; */
}

.footer img {
	display: block;
	margin: 0 auto 44px auto;
}

.footer .social_networks {
	padding: 25px 0;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	

}

.footer .social_networks div{
	width: 700px;
	margin: auto;
}

.footer .social_networks a {
	margin: 0 41px;
	color: grey;
}

.footer .social_networks a:last-child {
	margin-right: 0;
}

.footer .social_networks a:hover{
	color: black;
}

.footer .copyright {
	margin: 0;
	padding: 0;
	color: #9c9c9c;
	font-family: Roboto, sans-serif;
	font-size: 13px;
	font-weight: 412px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 37px;
	cursor: default;
}

.footer .copyright span {
	color: #000;
}

.content_about, .content_about .heading, .content_about .heading h1, .content_about .heading p, .content_contact .heading h1, .content_contact .heading p, .content_blog .heading h1, .content_blog .heading p {
	/* border: 1px solid black; */
	padding: 0;
	margin: 0;
}

.content_about, .content_blog {
	padding-top: 90px;
}

.content_about .heading .heading_text {
	width: 1130px;
	margin: auto;
}

.content_about .heading h1, .content_contact .heading h1, .content_blog .heading h1 {
	width: 590px;
	text-align: center;
	color: #ffffff;
	font-family: 'Roboto';
	font-size: 48px;
	line-height: 36px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 4.8px;
	background-color: #000;
	padding: 11px 0px 9px 0px;
}

.content_blog .heading h1 {
	width: 560px;
}

.content_about .heading p, .content_contact .heading p, .content_blog .heading p {
	width: 270px;
	color: #000;
	font-family: 'Roboto';
	font-size: 18px;
	line-height: 13px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 7.2px;
	margin-top: 44px;
}

.content_blog .heading p {
	width: 380px;
}

.content_about .heading, .content_contact .heading {
	width: 100%;
	background: url("../image/shutterstock_415747804.png") rgb(238, 238, 240) no-repeat;
	background-position: top right;
	padding-top: 115px;
	padding-bottom: 122px;
}

.content_blog .heading {
	width: 100%;
	background: url("../image/slider_01-mokhgqwtr9u2rwxhakqtevd7311vu1meqdvfikirwo.png") rgb(245, 244, 247) no-repeat;
	background-position: top right;
	padding-top: 115px;
	padding-bottom: 122px;
}

.main_content, .main_content img, .main_content .text_section_1, .main_content .text_section_1 p, .main_content .text_section_1 h3, .main_content .skills, .main_content .skills p {
	/* border: 1px solid black; */
	padding: 0;
	margin: 0;
}

.heading {
	/* border: 1px solid black; */
}

.content_about .main_content {
	overflow: auto;
	padding-top: 72px;
	background-color: rgb(249, 249, 249);
	padding-bottom: 76px;
}

.main_content {
	background-color: rgb(249, 249, 249);
}

.story_section {
	width: 1130px;
	padding-bottom: 2px;
	/* border: 1px solid black; */
	margin: auto;
	overflow: auto;
}

.content_about .main_content .text_section_1 {
	width: 540px;
	margin-left: 53px;
}

.content_about .main_content img, .main_content .text_section_1 {
	display: block;
	float: left;
}

.content_about .main_content .text_section_1 {
	color: #777777;
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 400;
}

.content_about .main_content .text_section_1 h3 {
	color: #000000;
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 7.2px;
	line-height: 14px;
	text-transform: uppercase;
}

.content_about .main_content .text_section_1 h3 {
	margin-top: 35px;
}

.content_about .main_content .text_section_1 h3:first-child {
	margin-top: 9px;
}

.content_about .main_content .text_section_1 p {
	font-family: 'Roboto';
	font-weight: 400;
	line-height: 30px;
	margin-top: 32px;
}

.content_about .main_content .text_section_1 .skills p:first-child {
	margin-top: 35px;
}

.content_about .main_content .text_section_1 .skills p {
	color: #2f302f;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 700;
	margin-top: 17px;
}

.main_content .level_line, .main_content .level_line .line, .main_content .level_line .point {
	/* border: 1px solid black; */
}

.content_about .main_content .level_line {
	margin-top: 8px;
	height: 10px;
	background-color: rgb(232, 232, 232);
}

.content_about .main_content .level_line .line {
	height: 2px;
	margin-top: 4px;
	margin-left: 3px;
	box-sizing: border-box;
	background-color: #a1a1a1;
	float: left;
}

.content_about .main_content .level_line .line.l1 {
	width: 470px;
}

.content_about .main_content .level_line .line.l2 {
	width: 495px;
}

.content_about .main_content .level_line .line.l3 {
	width: 258px;
}

.content_about .main_content .level_line .line.l4 {
	width: 440px;
}

.content_about .main_content .level_line .point {
	margin-top: -5px;
}

.content_about .main_content .level_line .line.l1 .point {
	margin-left: 470px;
	margin-top: -5px;
}

.content_about .main_content .level_line .line.l2 .point {
	margin-left: 495px;
	margin-top: -5px;
}

.content_about .main_content .level_line .line.l3 .point {
	margin-left: 258px;
	margin-top: -5px;
}

.content_about .main_content .level_line .line.l4 .point {
	margin-left: 440px;
	margin-top: -5px;
}

.content_about .main_content .level_line span img {
	margin: 0;
}

.content_about .main_content .level_line .tooltip {
	font-family: 'Lato';
	width: 40px;
	font-size: 12px;
	font-weight: 400;
	position: relative;
	bottom: 50px;
	z-index: 0;
}

.content_about .main_content .level_line .tooltip .value {
	width: 40px;
}

.content_about .main_content .level_line .tooltip .value span {
	border: 1px solid black;
	display: inline-block;
	background-color: #000;
	color: #fff;
	padding: 3px 9px 3px 9px;
}

.content_about .main_content .level_line .tooltip .tail {
	height: 8px;
	background: url("../image/Rectangle_49.png") bottom left no-repeat;
}

.content_about .main_content .level_line .line.l1 .tooltip {
	left: 474px;
}

.content_about .main_content .level_line .line.l2 .tooltip {
	left: 499px;
}

.content_about .main_content .level_line .line.l3 .tooltip {
	left: 262px;

}

.content_about .main_content .level_line .line.l4 .tooltip {
	left: 444px;
}

.main_content .team_section, .main_content .team_section h2, .founders_section, .section, .founders_section .section .photo, .founders_section .section .description {
	/* border: 1px solid black */
}

.content_about .main_content .team_section {
	margin-top: 100px;
}

.content_about .main_content .team_section h2, .content_about .main_content .team_section p {
	margin: 0;
	padding: 0;
	text-align: center;
}

.content_about .main_content .team_section h2 {
	color: #000000;
	font-family: 'Roboto';
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 12px;
	line-height: 24px;
	text-transform: uppercase;
}

.content_about .main_content .team_section p {
	font-family: 'Roboto';
	font-weight: 400;
	line-height: 30px;
	color: #777777;
	font-size: 14px;
	margin-top: 35px;
}

.founders_section {
	width: 1134px;
	overflow: auto;
	margin: auto;
	margin-top: 67px;
}

.section {
	width: 358px;
	float: left;
	margin-left: 30px;
}

.section:first-child {
	margin: 0;
}

.founders_section .section {
	background-color: rgb(236, 235, 235);
}

.founders_section .section .photo img {
	float: none;
}

.founders_section .section .photo {
	/* border: 1px solid black; */
}

.founders_section .section.s1 .photo img {
	margin-top: 15px;
	margin-left: 53px;
	
}

.founders_section .section.s2 .photo img {
	margin-top: 11px;
	margin-left: 61px;
}

.founders_section .section.s3 .photo img {
	margin-top: 3px;
	margin-left: 50px;
}

.founders_section .section .description {
	background-color: #fff;
	padding: 35px 43px 31px 35px;
}

.founders_section .section .description p {
	margin: 0;
	padding: 0;
}

.founders_section .section .description .name {
	color: #041608;
	font-family: 'Roboto';
	font-size: 24px;
	font-weight: 300;
	text-transform: uppercase;
}

.founders_section .section .description .position {
	color: #777777;
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 700;
	margin-top: 8px;
}

.founders_section .section .description .text {
	font-family: 'Roboto';
	color: #9c9c9c;
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
	margin-top: 15px;
}

.content_contact {
	padding-top: 90px;
}

.content_contact .heading h1 {
	width: 440px;
}

.content_contact .heading p {
	width: 282px;
}

.content_contact .main_content .office_info, .content_contact .main_content .feedback_form, .content_contact .main_content form, .content_contact .main_content .feedback_form .office_info h2, .content_contact .main_content .feedback_form .office_info p {
	/* border: 1px solid black; */
}

.content_contact .main_content .feedback_form .office_info h2, .content_contact .main_content .feedback_form .office_info p{
	margin: 0;
	padding: 0;
}

.content_contact .main_content .feedback_form {
	background-color: rgb(249, 249, 249);
	overflow: auto;
	padding-top: 82px;
	padding-bottom: 79px;
	width: 1130px;
	margin: auto;
}

.content_contact .main_content .office_info {
	width: 308px;
	float: left;
	margin-right: 72px;
}

.content_contact .main_content .feedback_form .office_info h2 {
	color: #000000;
	font-size: 30px;
	letter-spacing: 12px;
	line-height: 24px;
	text-transform: uppercase;
	font-family: 'Roboto';
	font-weight: 300;
	padding-top: 5px;
	margin-bottom: 14px;
}

.content_contact .main_content .feedback_form .office_info p {
	color: #777777;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 15px;
	margin-bottom: 27px;
}

.content_contact .main_content .feedback_form .office_info .nums{
	color: rgb(75, 75, 75);
	font-weight: 700;
	margin-bottom: 5px;
}

.content_contact .main_content .feedback_form .office_info p span {
	font-weight: 700;
	color: #555555;
}

.content_contact .main_content .feedback_form .office_info .post_heading {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 0;
}

.content_contact .main_content .feedback_form .office_info .line {
	width: 60px;
	border-top: 1px solid black;
	margin-top: 18px;
	margin-bottom: 45px;
}

.content_contact .main_content .feedback_form form {
	width: 750px;
	float: left;
	overflow: auto;
}

.content_contact .main_content .feedback_form form input, .content_contact .main_content .feedback_form form textarea {
	display: block;
	margin: 0;
	color: #bababa;
	font-family: 'Roboto';
	font-size: 14px;
	font-style: italic;
	border: 1px solid #ebebeb;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 12px;
	border-radius: 2px;
	outline: none;
	box-sizing: border-box;
	background-color: rgb(249, 249, 249);

}

.content_contact .main_content .feedback_form form input {
	width: 358px;
	float: left;
}

.content_contact .main_content .feedback_form form input::placeholder, .content_contact .main_content .feedback_form form textarea::placeholder {
	color: #bababa;
}

.content_contact .main_content .feedback_form form input:first-child {
	margin-right: 32px;
	margin-bottom: 30px;
	border-left-width: 3px;
	border-left-color: rgb(166, 165, 166);
}

.content_contact .main_content .feedback_form form textarea {
	width: 748px;
	height: 150px;
	resize: none;
	margin-bottom: 30px;
}

.content_contact .main_content .feedback_form form input[type="submit"]{
	width: 218px;
	color: #ffffff;
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	background-color: #000;
	font-style: normal;
	border-radius: 3px;
	border: none;
	padding-top: 13px;
	padding-bottom: 11px;
	letter-spacing: 0.79px;
	cursor: pointer;
}

.content_contact .main_content #map {
	width: 100%;
	height: 360px;
	border: 1px solid black;
}

.marker_content {
	/* border: 1px solid black; */
	width: 100px;
	height: 50px;
	border: 1px solid red;
	position: relative;
	z-index: 1000;
	left: -20px;
	/* background-color: black; */
	/* background: url("../image/Rounded_Rectangle_20_copy.png") rgb(238, 238, 240) no-repeat; */
}

.content_blog .main_content, .content_blog .main_content .posts, .content_blog .main_content .posts .column {
	border: 1px solid black;
}

.content_blog .main_content .posts {
	overflow: auto;
}

.content_blog .main_content .posts .column {
	width: 358px;
	margin-right: 30px;
	float: left;
}


  .menu {
	position: fixed;
	right: 0;top: 0;
	z-index: 399;
	width: 30%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	transition: 0.5s;
	transform: translateX(100%);
	display: none;
  }
  .menu_active {
	transform: translateX(0%);
  }
  .menu-list {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 50%;
	flex-direction: column;
  }
  .menu-list a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 900;
	font-family: 'Roboto',sans-serif;
	color: #777777;
  }

  .menu-list a:hover {
	color: #000000;
	cursor: pointer;
  }

  .menu-btn {
	width: 60px;
	height: 60px;
	position: absolute;
	left: -100px;
	top: 27px;
  }

.menu-btn .l1, .menu-btn .l2, .menu-btn .l3 {
	border-top: 3px solid black;
	margin-top: 14px;
}

.menu-btn .l1 {
	margin: 0;
}


@media screen and (max-width: 1173px) {
	br {
		display: none;
	}

	.categories {
		display: none;
	}

	.content_about .heading {
		background: none;
		background-color: rgb(238, 238, 240);
	}

	.content_about .heading .heading_text{
		width: 500px;
	}

	.content_about .heading .heading_text p {
		text-align: center;
		width: 100%;
	}

	.content_about .heading .heading_text h1 {
		width: 500px;
		/* margin: auto; */
		text-align: center;
		font-size: 38px;
		line-height: 26px;
		font-weight: 300;
		letter-spacing: 2.8px;
		padding: 10px 0px 8px 0px;

	}

	.content_about .main_content .story_section > img{
		display: none;
	}

	.content_about .main_content .story_section .text_section_1 p {
		width: 100%;
	}

	.content_about .main_content .story_section .text_section_1 h3 {
		text-align: center;
	}

	.content_about .main_content .story_section {
		width: 550px;
		margin: auto;
	}

	.content_about .main_content .story_section .text_section_1 {
		margin-left: 0;
	}

	.content_about .main_content .team_section p {
		width: 540px;
		margin-left: auto;
		margin-right: auto;
	}

	.founders_section {
		width: 358px;
	}

	.founders_section .section {
		margin: 0;
	}

	.founders_section .section.s2,  .founders_section .section.s3 {
		margin-top: 74px;
	}
	.footer .social_networks div {
		width: 300px;
	}

	.footer .social_networks div i{
		margin-right: -65px;
	}

	.menu {
		display: block;
	}

	.wrapper .slider .next, .wrapper .slider .prev {
		display: none;
	}

	.wrapper .slider {
		/* height: 500px; */
	}

	.content .navigation {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}

	.content .navigation .buttons {
		width: 95%;
		line-height: 40px;
	}

	.photos * {
		/* border: 1px solid  black; */
	}

	.content .photos .column {
		display: block;
	}

	.content .photos {
		display: block;
		justify-content: unset;
		width: 362px;
	}

	.slider_content * {
		/* border: 1px solid black; */
	}

	.wrapper .slider .slide .slider_content h1 {
		font-size: 35px;
		font-weight: 300;
		letter-spacing: 2.8px;
		text-align: center;
		width: 540px;
		padding: 4px 0 4px 0;		
	}

	.wrapper .slider .slide .slider_content p {
		width: 385px;
		font-size: 16px;
		font-weight: 300;
		letter-spacing: 5.2px;
	}
}